@using WebApplication1.Models.DTOs

@{
    ViewData["Title"] = "Register";
}

@model UserDTO

<h2>Регистрация</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mb-3">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="LastName">Фамилия</label>
        <input asp-for="LastName" type="text" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName">Имя</label>
        <input asp-for="FirstName" type="text" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Элекстронная почта</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <p>Уже есть аккаунт? <a asp-controller="Users" asp-action="Login">Вход.</a></p>
    <button type="submit" class="btn btn-primary m-2">Зарегистрироваться</button>
</form>

